
.icon-home:before { content: '\e800'; } /* '' */
.icon-cog:before { content: '\e801'; } /* '' */
.icon-logout:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-key:before { content: '\e804'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-balance-scale:before { content: '\f24e'; } /* '' */
